<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  <connectionStrings>
    <add name="connstr" connectionString="server=mysql.labranet.jamk.fi;user=G2776;database=G2776;port=3306;password=eYJ6StSKfENeMm6tk1o3cHbt8dHnyNHG;" />
    <add name="connstr2" connectionString="Data Source=mysql.labranet.jamk.fi;Initial Catalog=G2776;user=G2776;password=eYJ6StSKfENeMm6tk1o3cHbt8dHnyNHG" />
  </connectionStrings>

 
  <!-- Tällä seuraavalla laitetaan autentikointi päälle, eli kielletään autentikoimattomat käyttäjät -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="300"/>
    </authentication>
  </system.web>
  <!-- Tällä seuraavalle kaikille masterpage käyttöön -->
  <location path="Site.master">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Site.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>